@media (max-width:991px) {
    .container {
        width: 95%;
    }

    .about-content .count {
        border: none !important;
    }

    .portfolio .nav-link {
        margin-bottom: 15px;
    }

    .resume .col-md-6 {
        margin-bottom: 25px;
    }

    .testimonials .item {
        margin-bottom: 25px;
    }
}

@media screen and (max-width:768px) {
    header {
        background-position: 50%;
        background-repeat: no-repeat;
        height: 80vh;
        min-height: auto;
    }

    .header-content h1 {
        font-size: 35px;
    }

    .header-content h2, .title h2 {
        font-size: 30px;
    }

    .resume {
        text-align: center;
    }

    .contact .container>p {
        width: 100%;
    }

    .contact form.w-75 {
        width: 100% !important;
    }

    .map .contact-info {
        width: auto;
    }

    footer {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }

    footer p:last-of-type,
    footer p.copy {
        text-align: center !important;
    }
}

@media screen and (max-width:575px) {
    header {
        background: url(../img/waleed.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
    }

    .header-content .con {
        margin-top: 50vh;
    }

    .title h2 {
        font-size: 35px;
        width: 100%;
    }
    
    .header-content p {
        font-size: 16px;
        width: auto;
        white-space: normal;
        animation: none;
        border-right: none;
        margin-left: 0;
        text-align: right;
    }
    
    .about .numbers span {
        font-size: 20px;
    }
    
    .discription {
        padding: 30px 15px !important;
    }
}